<div>a: <%= @a %></div>
<div>x: <%= @b.x %></div>
<div>
  <button phx-click="increment">+1</button>
</div>
<div>
  <button phx-click="toggle">A/B</button>
</div>
<% k = :random.uniform(100) %>
<%= render "_partial.html", %{a: @a, b: @b, k: k} %>
<%= render "_partial.html", Map.merge(assigns, %{k: k}) %>
